
.cardcolor{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.089);
    border: 1px solid rgba(175, 175, 175, 0.24);
    border-radius: .25rem;
}