
.container{
  position: relative;
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 10px 6px -6px #777;
  padding: 30px;
  text-align: center;
}


.sizeImage{
  width: 80px;
  height: 80px;
}

.sizeImageCarousel{
width: 280px;
height: 280px;
margin: 0 auto;
}

.CarousselContainer{
  widows: 100px;
  background: rgba(4, 20, 32, 0.178);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
