.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

<<<<<<< HEAD
.login-background {
  background: url("cuts.JPG") no-repeat center;
  background-size: 50ch;
=======
.App-header {
  background-color: #282c34;
>>>>>>> 33921deaca4bfbdcd3844bd76c55a51b34b40b07
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

<<<<<<< HEAD


=======
.App-link {
  color: #61dafb;
}
>>>>>>> 33921deaca4bfbdcd3844bd76c55a51b34b40b07

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
